PINECONE_API_KEY=
OPENAI_API_KEY=

PINECONE_INDEX_NAME=rag-docs
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
PINECONE_NAMESPACE=docs

PINECONE_EMBEDDING_MODEL=llama-text-embed-v2
PINECONE_EMBEDDING_DIMENSION=1024

OPENAI_MODEL=gpt-4o-mini

DOCS_DIR=docs
CHUNK_SIZE=1000
CHUNK_OVERLAP=150
RAG_TOP_K=5
